<p>{{titulo}}</p>
<button (click)="cambiarTitulo('ASD')">Pulsame</button>
<p>Numero peliculas {{peliculas.length}}</p>
<div *ngIf="peliculas.length <= 3">
    <p>Hay pocas peliculas</p>
</div>
<div *ngIf="peliculas.length > 3">
    <p>Hay muchas peliculas</p>
</div>

<!-- <div id="articles" *ngIf="peliculas">
    <article class="article-item" *ngFor="let p of peliculas; let i = index;">
        <div class="image-wrap">
            <img src="{{p.image}}" alt="{{p.titulo}}" />
        </div>

        <h2>{{i+1}} {{p.titulo}}</h2>
        <span class="date">
            Hace 5 minutos
        </span>
        <a href="#">Leer más</a>

        <span class="year" [style.background]="p.anio >= 2012? 'green': 'red'">
            {{p.anio}}
        </span>

        <span class="year" [class.year-green]="p.anio >= 2012" [class.year-red]="p.anio < 2012">
            {{p.anio}}
        </span>

        <span class="year" [ngClass]="{'year-green': 'p.anio >= 2012', 'year-red': 'p.anio < 2012'}">
            {{p.anio}}
        </span>

        <div class="clearfix"></div>
    </article>
</div> -->
<div id="articles" *ngIf="peliculaFavorita.titulo != ''">
    <p>Pelicula favorita</p>
    <div>
        <app-mpelicula [p]="peliculaFavorita"></app-mpelicula>
    </div>
</div>

<div id="articles" *ngIf="peliculas">
    <div *ngFor="let p of peliculas">
        <app-mpelicula [p]="p" (MarcarFavorita)="mostrarFavorita($event)"></app-mpelicula>
    </div>
</div>